node_modules
asset-download
run/


# client
client/.next/
client/node_modules/
client/dist/
client/.env.local
client/.env.development
client/.env.production

# server

server/dist/
server/node_modules/
server/.env